* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    flex-wrap: wrap;
}
.container {
    width: 250px;
    height: 250px;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 40px;
   
}
.ouais {
    
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 40px;
    background-color:greenyellow;
}
.groscontainer {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

button {
    width: 100%;
    height:50px;
    color: white;
    background-color:black;
    transition: all 1s;
}

button:hover{

    color: black;
    background-color:orange;

}
.oulala{
    transition:none;
}
.oulala:focus{
    background-color:red;
}

@media all and (max-width : 251px) {
    .ouais {
        background-color:rgb(0, 255, 242);
    }
}