.calc {

    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.screen {
    width: 25%;
    height: 100px;
    background-color: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;

}

.pave {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 25%;
    
}
p {
    background-color: #cccccc;
    width: 30%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    

}
.lol {
    margin-top: -4px;
}